<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered product-details">
            <h1 class="product-title"><%= product.title %></h1>
            
            <div>
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="product-image">
            </div>
            <h2 class="product-price"><%= product.price %></h2>
            <p class="product-description"><%= product.description %></p>
            <%- include('../includes/add-to-cart.ejs') %>
        </main>
        <%- include('../includes/end.ejs') %>